/* Styles go here */
body {
  background: #1976D2;;
}
.left {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    margin-bottom: -200px;
    margin-right:5px;
    font-size: 80px;
}
.right {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    margin-bottom: 500px;
    margin-left: 5px;
    font-size: 80px;
}
img {
  width: 140px;
margin-left: -15px;
  margin-right: -15px;
  position: relative;
  top: 40px

}