body {
  padding:50px;
  background: #1976D2;;
}
.left {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    margin-bottom: -200px;
    margin-left:13px;
    margin-right:3px;
    font-size: 28px;
    font-stretch: expanded;
}
.right {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    margin-bottom: 500px;
    margin-left: 4px;
    font-size: 28px;
}
img {
  width: 100px;
margin-left: 12px;
  margin-right: -15px;
  position: relative;
  top: 15px

}
